{% extends 'blog/base_blog.html' %}

{% block title %}
    Удалить тег `{{ tag.title }}`
{% endblock %}

{% block content %}

<form class="col-9 mx-auto" action="{{ tag.get_delete_url }}" method="post" style="text-align: center;">
    {% csrf_token %}
    <div id="post-content" class="mx-auto col-9 block-text">
        <h3>
            <p class="mx-auto" style="font-size: 34px; color: #575757">
                <span style="font-weight: bold; font-family: 'Ubuntu', sans-serif;">Вы действительно хотите удалить тег </span>`
                <span style="color: #7c7c7c">{{ tag.title }}</span>` ?
            </p>
        </h3>
        <button type="button" name="button" class="btn btn-secondary" onclick="history.go(-1)">
            Отмена
        </button>
        <button type="submit" name="button" class="btn btn-danger">
            Удалить
        </button>
    </div>
</form>

{% endblock %}